doctype html
html
  head
    link href="stylesheets/main.css" rel='stylesheet"

  body class="all"
    div class="container"
      header
        img class="header-img" src="/images/dj-rube-header.jpg" alt="DJ Rube"
        h1 class="header-title" DJ Rube
        p class="header-byline" House // Techno // Soul // Drum and Bass // Hip hop // Bass Music // and more

      article
        h2 About
        p A Wellington NZ based DJ, Burner, Laundry Bar regular, and Radio Active DJ

      article
        h2 Mixes

        section
          h3
            a href="https://www.mixcloud.com/robramsaynz/" Mixcloud Mixes

        section
          h3 
            a href="https://www.mixcloud.com/robramsaynz/daytime-vibes-for-the-wip-resonance-gig/" Daytime Vibes for the WIP Resonance gig
          p
            | A relaxed house mix from November 2015. Maribou State, Move D, Cubicolor, Simian Mobile Disco &amp; Bicep, Sisterhood and more. Made as a taster for the WIP presents Resonance daytime gig at Vogelmorn bowling club.

      article
        h2 Gig: <a href="http://www.laundry.net.nz/">Laundry bar</a>, Sunday Dec 23<sup>rd</sup>, 6pm
        p 
          | For Sunday sessions I like to see where things go while keeping the mood relaxed. I can play for as long as I like—I'll usually be on for something under 3 hours, but this could easily end up being a lot longer if I'm in the mood ;). It's a nice chance to start off playing Soul, Hip-Hop and Reggae, then head off into other interesting directions. Ambient, Footwork, House, Dubstep; if it's not heavy and feels right I'll reach for it. Come down for a beer or a burger, and lets see where we end up.
