.container {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
}

.all {
  /* Dark gray */
  background-color: #6C6C6C;
  /* muddy white */
  color: #DDD;
}

article {
  margin: 1.8rem 0;
}

h2 {
  font-weight: bold;
  color: white;
  margin: .6rem 0;
}

h2 a {
  color: white;
}
h2 a:hover {
  color: #DDD;
}
h2 a:visited {
  color: #DDD;
}

p {
  margin: .6rem 0;
}

a {
  color: #DDD;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:visited {
  color: #CCC;
}


.header-img {
  width: 100%;
}

.header-title {
  /* Questionable magenta */
  color: #f73b8f;
  margin-bottom: 0;
}

.header-byline {
  color: white;
  font-size: .8rem;
  font-style: italic;
  margin-top: .2rem;
}

