
.container {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
}

.header-img {
  width: 100%;
}

.header-title {
  margin-bottom: 0;
}

.header-byline {
  font-size: .8rem;
  font-style: italic;
  margin-top: .2rem;
}

.bold {
  font-weight: bold;
}